<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!-- Espacio para el menu -->
      <div class="card">
        <div class="card-body text-center">
          <i class="fas fa-user fa-3x"></i>
          <br>
          <strong class="text-uppercase text-small">
            {{user.name +' '+ user.last_name}}
          </strong> <br>
          <small>{{user.email}}</small>
        </div>
      </div>
      <br>
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action" routerLinkActive="active" routerLink="accountConfi" (click)="goTo('account_manager/service')" >
          <i class="fas fa-concierge-bell"></i> Servicios
        </a>
        <a href="#" class="list-group-item list-group-item-action" routerLinkActive="active" routerLink="accountConfi" (click)="goTo('account_manager/supply')" >
          <i class="fas fa-barcode"></i> Insumos Referencias
        </a>
      </div>
      <br>
      <div class="text-center">
        <small> <strong>{{ '{' }}</strong> Standard Systems <strong>{{ '}' }}</strong></small>
      </div>
    </div>
    <div class="col-md-10">
      <div class="card-columns">
        <div class="card">
          <div class="card-body">
            <h3 class="display-4">
              12
            </h3>
            <p>Cuentas totales</p>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <h3 class="display-4">
              30
            </h3>
            <p>Centros de Servicio activos</p>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <h3 class="display-4">
              3500
            </h3>
            <p>Registros Mensuales</p>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
