<div class="card">
  <div class="card-body">
    <h5 class="card-title">
      Centros de Servicio
    </h5>
  </div>
</div>
<br>
<table class="table table-sm table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>Código</th>
      <th>Nombre</th>
      <th>Zona</th>
      <th>Ciudad</th>
      <th>Dirección</th>
      <th>Creado</th>
      <th>Activo</th>
      <th>Info</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let i of centers">
      <td> {{i.code}} </td>
      <td> {{i.name}} </td>
      <td> {{i.zone}} </td>
      <td> {{i.city}} </td>
      <td> {{i.address }} </td>
      <td> {{i.created | date:'dd-MM-yyyy'}} </td>
      <td>
        <i [ngClass]="{'fas':true, 'fa-power-off':true, 'text-success':i.active, 'text-danger':!i.active}"></i>
        <span *ngIf="i.active"> Activo</span>
        <span *ngIf="!i.active"> Cerrado</span>
      </td>
      <td>
        <button class="btn btn-primary btn-sm" (click)="info(i)">
          Info
        </button>
      </td>
    </tr>
  </tbody>
</table>

